body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1471px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:61px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:50px;
  width:1290px;
  height:60px;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:50px;
  width:2px;
  height:801px;
  overflow:hidden;
}
#u667_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:801px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u667_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:1032px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:49px;
  width:180px;
  height:1031px;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:1471px;
  height:51px;
  overflow:hidden;
}
#u669_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 0.898039215686275);
  background-image:none;
}
#u669_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u669_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(52, 152, 219, 1);
  background-image:none;
}
#u669_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u669_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(237, 110, 77, 1);
  background-image:none;
}
#u669_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u669_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 187, 61, 1);
  background-image:none;
}
#u669_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u669_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 122, 179, 1);
  background-image:none;
}
#u669_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u669_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(154, 208, 185, 1);
  background-image:none;
}
#u669_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u669_state6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(234, 148, 190, 1);
  background-image:none;
}
#u669_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u669_state7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(193, 55, 74, 1);
  background-image:none;
}
#u669_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:48px;
  width:1367px;
  height:3px;
  overflow:hidden;
}
#u670_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:3px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u670_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:49px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:0px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u671_img.selected {
}
#u671.selected {
}
#u671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:66px;
  width:160px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u673_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:74px;
  width:14px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u674_img.mouseOver {
}
#u674.mouseOver {
}
#u674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:109px;
  width:1292px;
  height:2px;
  overflow:hidden;
}
#u675_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u675_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:903px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:50px;
  width:1px;
  height:902px;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u678_img.mouseOver {
}
#u678.mouseOver {
}
#u678_img.selected {
}
#u678.selected {
}
#u678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u679_img.mouseOver {
}
#u679.mouseOver {
}
#u679_img.selected {
}
#u679.selected {
}
#u679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u680_img.mouseOver {
}
#u680.mouseOver {
}
#u680_img.selected {
}
#u680.selected {
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u682_img.mouseOver {
}
#u682.mouseOver {
}
#u682_img.selected {
}
#u682.selected {
}
#u682_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:137px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u683_img.mouseOver {
}
#u683.mouseOver {
}
#u683_img.selected {
}
#u683.selected {
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:206px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u685_img.mouseOver {
}
#u685.mouseOver {
}
#u685_img.selected {
}
#u685.selected {
}
#u685_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:225px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:221px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u687_img.mouseOver {
}
#u687.mouseOver {
}
#u687_img.selected {
}
#u687.selected {
}
#u687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:250px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u688_img.mouseOver {
}
#u688.mouseOver {
}
#u688_img.selected {
}
#u688.selected {
}
#u688_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:291px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u689_img.mouseOver {
}
#u689.mouseOver {
}
#u689_img.selected {
}
#u689.selected {
}
#u689_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:139px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:335px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u692_img.mouseOver {
}
#u692.mouseOver {
}
#u692_img.selected {
}
#u692.selected {
}
#u692_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:354px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:350px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u694_img.mouseOver {
}
#u694.mouseOver {
}
#u694_img.selected {
}
#u694.selected {
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:379px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u695_img.mouseOver {
}
#u695.mouseOver {
}
#u695_img.selected {
}
#u695.selected {
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:420px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u696_img.mouseOver {
}
#u696.mouseOver {
}
#u696_img.selected {
}
#u696.selected {
}
#u696_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:462px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u697_img.mouseOver {
}
#u697.mouseOver {
}
#u697_img.selected {
}
#u697.selected {
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:164px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u698_img.mouseOver {
}
#u698.mouseOver {
}
#u698_img.selected {
}
#u698.selected {
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0033CC;
}
#u699_img.mouseOver {
}
#u699.mouseOver {
}
#u699_img.selected {
}
#u699.selected {
}
#u699_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:1352px;
  top:17px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:972px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:109px;
  width:1291px;
  height:971px;
}
#u701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:474px;
  width:16px;
  height:16px;
}
#u702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:46px;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:461px;
  width:180px;
  height:45px;
  color:#353535;
  text-align:left;
}
#u704_img.mouseOver {
}
#u704.mouseOver {
}
#u704_img.selected {
}
#u704.selected {
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:15px;
  width:132px;
  word-wrap:break-word;
}
#u705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:477px;
  width:14px;
  height:12px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:79px;
  width:97px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:175px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:144px;
  width:587px;
  height:174px;
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:154px;
  width:30px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:2px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:182px;
  width:587px;
  height:1px;
}
#u709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:19px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:206px;
  width:60px;
  height:18px;
  color:#145CCD;
}
#u710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:206px;
  width:52px;
  height:18px;
  color:#145CCD;
}
#u711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:257px;
  width:52px;
  height:18px;
  color:#145CCD;
}
#u712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:15px;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:291px;
  width:257px;
  height:14px;
  font-size:12px;
}
#u713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:55px;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:318px;
  width:587px;
  height:54px;
}
#u714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:28px;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:330px;
  width:271px;
  height:27px;
  font-size:12px;
  color:rgba(81, 81, 81, 0.87843137254902);
}
#u715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:8px;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:161px;
  width:8px;
  height:7px;
}
#u716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:258px;
  width:14px;
  height:14px;
}
#u717_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:206px;
  width:14px;
  height:14px;
}
#u718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:206px;
  width:20px;
  height:18px;
}
#u719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:266px;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:144px;
  width:383px;
  height:265px;
}
#u720_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:125px;
  width:379px;
  word-wrap:break-word;
}
#u721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:156px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:183px;
  width:383px;
  height:1px;
}
#u722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:28px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:200px;
  width:357px;
  height:27px;
  text-align:left;
}
#u723_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:353px;
  word-wrap:break-word;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:110px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:248px;
  width:357px;
  height:109px;
  text-align:left;
}
#u724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:258px;
  width:72px;
  height:15px;
  font-size:13px;
}
#u725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:8px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:161px;
  width:8px;
  height:7px;
}
#u726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:27px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:367px;
  width:74px;
  height:26px;
  color:#FFFFFF;
}
#u727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:296px;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:403px;
  width:587px;
  height:295px;
}
#u728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:411px;
  width:30px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u729_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:2px;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:439px;
  width:587px;
  height:1px;
}
#u730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:450px;
  width:59px;
  height:10px;
}
#u731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:8px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:418px;
  width:8px;
  height:7px;
}
#u732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:159px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:488px;
  width:367px;
  height:158px;
}
#u733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:2px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:665px;
  width:587px;
  height:1px;
}
#u734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:2px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:787px;
  width:587px;
  height:1px;
}
#u735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:11px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:672px;
  width:59px;
  height:10px;
}
#u736_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:84px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:696px;
  width:587px;
  height:83px;
}
#u737_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:42px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:717px;
  width:359px;
  height:41px;
  font-size:12px;
}
#u738_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  word-wrap:break-word;
}
#u739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:34px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:779px;
  width:587px;
  height:33px;
}
#u739_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:15px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:789px;
  width:392px;
  height:14px;
  font-size:12px;
}
#u740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  word-wrap:break-word;
}
#u741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:109px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:842px;
  width:587px;
  height:108px;
}
#u741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:19px;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:853px;
  width:132px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u742_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:2px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:878px;
  width:587px;
  height:1px;
}
#u743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:8px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:857px;
  width:8px;
  height:7px;
}
#u744_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:36px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:891px;
  width:367px;
  height:35px;
}
#u745_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:275px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:447px;
  width:383px;
  height:274px;
}
#u746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:459px;
  width:150px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:486px;
  width:383px;
  height:1px;
}
#u748_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:8px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:464px;
  width:8px;
  height:7px;
}
#u749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:19px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:497px;
  width:159px;
  height:18px;
}
#u750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:39px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:519px;
  width:383px;
  height:38px;
  color:rgba(81, 81, 81, 0.87843137254902);
  text-align:left;
}
#u751_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:379px;
  word-wrap:break-word;
}
#u752_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:43px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:519px;
  width:5px;
  height:38px;
}
#u752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:107px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:571px;
  width:335px;
  height:106px;
  color:rgba(81, 81, 81, 0.87843137254902);
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:2px;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:684px;
  width:383px;
  height:1px;
}
#u754_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:19px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:695px;
  width:285px;
  height:18px;
}
#u755_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:698px;
  width:13px;
  height:11px;
}
#u756_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:699px;
  width:13px;
  height:11px;
}
#u757_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:1074px;
  top:699px;
  width:13px;
  height:11px;
}
#u758_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:497px;
  width:13px;
  height:13px;
}
#u759_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
