body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1214px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:208px;
  width:100px;
  height:60px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:312px;
  width:100px;
  height:60px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:836px;
  width:100px;
  height:60px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:1265px;
  width:100px;
  height:60px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:268px;
  width:0px;
  height:0px;
}
#u50_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u50_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u50_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:43px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:840px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:372px;
  width:0px;
  height:0px;
}
#u52_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u52_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u52_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:451px;
  width:18px;
  height:19px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:896px;
  width:0px;
  height:0px;
}
#u53_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u53_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u53_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:143px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:347px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:436px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:546px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:637px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:747px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:881px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:1151px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:338px;
  width:92px;
  height:18px;
  font-size:15px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:365px;
  width:92px;
  height:18px;
  font-size:15px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:539px;
  width:107px;
  height:18px;
  font-size:15px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:563px;
  width:92px;
  height:18px;
  font-size:15px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:631px;
  width:92px;
  height:18px;
  font-size:15px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:657px;
  width:92px;
  height:18px;
  font-size:15px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:739px;
  width:92px;
  height:18px;
  font-size:15px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:766px;
  width:92px;
  height:18px;
  font-size:15px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:972px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:1062px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:1543px;
  width:100px;
  height:60px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:1848px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:2118px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:1939px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:2029px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:1815px;
  width:0px;
  height:0px;
}
#u77_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u77_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u77_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:36px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:1433px;
  width:214px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:91px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1528px;
  width:93px;
  height:90px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:89px;
  word-wrap:break-word;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:1603px;
  width:0px;
  height:0px;
}
#u80_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:121px;
}
#u80_seg1 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:113px;
  width:6px;
  height:8px;
}
#u80_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u80_seg3 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:108px;
  width:19px;
  height:18px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:1730px;
  width:100px;
  height:60px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:1939px;
  width:141px;
  height:23px;
  font-size:20px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:1546px;
  width:100px;
  height:60px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:1851px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:2121px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:1942px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:2032px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:1818px;
  width:0px;
  height:0px;
}
#u88_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u88_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u88_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:91px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:1531px;
  width:93px;
  height:90px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:89px;
  word-wrap:break-word;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:1606px;
  width:0px;
  height:0px;
}
#u90_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:121px;
}
#u90_seg1 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:113px;
  width:6px;
  height:8px;
}
#u90_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u90_seg3 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:108px;
  width:19px;
  height:18px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:1733px;
  width:100px;
  height:60px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:1851px;
  width:141px;
  height:23px;
  font-size:20px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:1885px;
  width:141px;
  height:23px;
  font-size:20px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:1944px;
  width:141px;
  height:23px;
  font-size:20px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:1975px;
  width:141px;
  height:23px;
  font-size:20px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:2104px;
  width:141px;
  height:23px;
  font-size:20px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:2134px;
  width:141px;
  height:23px;
  font-size:20px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:2207px;
  width:100px;
  height:60px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:2299px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:2569px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:2390px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:2480px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:2267px;
  width:0px;
  height:0px;
}
#u103_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u103_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u103_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:2118px;
  width:141px;
  height:23px;
  font-size:20px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
