body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:887px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:23px;
  width:110px;
  height:70px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:-3px;
  width:100px;
  height:60px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:61px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:301px;
  width:95px;
  height:61px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:91px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:61px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:74px;
  width:95px;
  height:61px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:91px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:61px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:501px;
  width:95px;
  height:61px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:91px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:75px;
  width:100px;
  height:60px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:157px;
  width:100px;
  height:60px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:116px;
  width:110px;
  height:70px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:44px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:129px;
  width:167px;
  height:44px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:163px;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:348px;
  width:167px;
  height:45px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:163px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:452px;
  width:100px;
  height:60px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:452px;
  width:110px;
  height:70px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:407px;
  width:167px;
  height:45px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:163px;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:462px;
  width:167px;
  height:45px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:163px;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:517px;
  width:167px;
  height:45px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:163px;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:572px;
  width:167px;
  height:45px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:163px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:534px;
  width:100px;
  height:60px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:614px;
  width:100px;
  height:60px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:690px;
  width:110px;
  height:70px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:678px;
  width:167px;
  height:45px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:163px;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:754px;
  width:167px;
  height:45px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:163px;
  word-wrap:break-word;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:44px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:188px;
  width:167px;
  height:44px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:163px;
  word-wrap:break-word;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:44px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:65px;
  width:167px;
  height:44px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:163px;
  word-wrap:break-word;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:332px;
  width:0px;
  height:0px;
}
#u23_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u23_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-231px;
  width:8px;
  height:235px;
}
#u23_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-231px;
  width:20px;
  height:8px;
}
#u23_seg3 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-237px;
  width:21px;
  height:20px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-101px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:332px;
  width:0px;
  height:0px;
}
#u24_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u24_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-4px;
  width:8px;
  height:208px;
}
#u24_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:196px;
  width:20px;
  height:8px;
}
#u24_seg3 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:190px;
  width:21px;
  height:20px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:105px;
  width:0px;
  height:0px;
}
#u25_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u25_seg1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-82px;
  width:8px;
  height:86px;
}
#u25_seg2 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-82px;
  width:21px;
  height:8px;
}
#u25_seg3 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-88px;
  width:21px;
  height:20px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:105px;
  width:0px;
  height:0px;
}
#u26_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:90px;
  height:8px;
}
#u26_seg1 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-10px;
  width:21px;
  height:20px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:105px;
  width:0px;
  height:0px;
}
#u27_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u27_seg1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-4px;
  width:8px;
  height:90px;
}
#u27_seg2 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:78px;
  width:21px;
  height:8px;
}
#u27_seg3 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:72px;
  width:21px;
  height:20px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:19px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:27px;
  width:0px;
  height:0px;
}
#u28_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u28_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-4px;
  width:8px;
  height:39px;
}
#u28_seg2 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:27px;
  width:17px;
  height:8px;
}
#u28_seg3 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:21px;
  width:21px;
  height:20px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:105px;
  width:0px;
  height:0px;
}
#u29_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u29_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-4px;
  width:8px;
  height:54px;
}
#u29_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:42px;
  width:18px;
  height:8px;
}
#u29_seg3 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:36px;
  width:21px;
  height:20px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:187px;
  width:0px;
  height:0px;
}
#u30_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u30_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-40px;
  width:8px;
  height:44px;
}
#u30_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-40px;
  width:18px;
  height:8px;
}
#u30_seg3 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-46px;
  width:21px;
  height:20px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:105px;
  width:0px;
  height:0px;
}
#u31_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u31_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-53px;
  width:8px;
  height:57px;
}
#u31_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-53px;
  width:5px;
  height:8px;
}
#u31_seg3 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-59px;
  width:21px;
  height:20px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:151px;
  width:0px;
  height:0px;
}
#u32_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u32_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-68px;
  width:8px;
  height:72px;
}
#u32_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-68px;
  width:14px;
  height:8px;
}
#u32_seg3 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-74px;
  width:21px;
  height:20px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:151px;
  width:0px;
  height:0px;
}
#u33_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u33_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-10px;
  width:21px;
  height:20px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:151px;
  width:0px;
  height:0px;
}
#u34_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u34_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-4px;
  width:8px;
  height:67px;
}
#u34_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:55px;
  width:14px;
  height:8px;
}
#u34_seg3 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:49px;
  width:21px;
  height:20px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:532px;
  width:0px;
  height:0px;
}
#u35_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u35_seg1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-54px;
  width:8px;
  height:58px;
}
#u35_seg2 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-54px;
  width:21px;
  height:8px;
}
#u35_seg3 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-60px;
  width:21px;
  height:20px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:532px;
  width:0px;
  height:0px;
}
#u36_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u36_seg1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-4px;
  width:8px;
  height:40px;
}
#u36_seg2 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:28px;
  width:21px;
  height:8px;
}
#u36_seg3 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:22px;
  width:21px;
  height:20px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:532px;
  width:0px;
  height:0px;
}
#u37_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u37_seg1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-4px;
  width:8px;
  height:120px;
}
#u37_seg2 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:108px;
  width:21px;
  height:8px;
}
#u37_seg3 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:102px;
  width:21px;
  height:20px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:19px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:482px;
  width:0px;
  height:0px;
}
#u38_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u38_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-4px;
  width:8px;
  height:13px;
}
#u38_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1px;
  width:18px;
  height:8px;
}
#u38_seg3 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-5px;
  width:21px;
  height:20px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:564px;
  width:0px;
  height:0px;
}
#u39_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u39_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-81px;
  width:8px;
  height:85px;
}
#u39_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-81px;
  width:18px;
  height:8px;
}
#u39_seg3 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-87px;
  width:21px;
  height:20px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:564px;
  width:0px;
  height:0px;
}
#u40_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u40_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-4px;
  width:8px;
  height:169px;
}
#u40_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:157px;
  width:18px;
  height:8px;
}
#u40_seg3 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:151px;
  width:21px;
  height:20px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:644px;
  width:0px;
  height:0px;
}
#u41_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u41_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-4px;
  width:8px;
  height:95px;
}
#u41_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:83px;
  width:6px;
  height:8px;
}
#u41_seg3 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:77px;
  width:21px;
  height:20px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:487px;
  width:0px;
  height:0px;
}
#u42_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u42_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-120px;
  width:8px;
  height:124px;
}
#u42_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-120px;
  width:14px;
  height:8px;
}
#u42_seg3 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-126px;
  width:21px;
  height:20px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-53px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:487px;
  width:0px;
  height:0px;
}
#u43_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u43_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-61px;
  width:8px;
  height:65px;
}
#u43_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-61px;
  width:14px;
  height:8px;
}
#u43_seg3 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-67px;
  width:21px;
  height:20px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:487px;
  width:0px;
  height:0px;
}
#u44_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u44_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-6px;
  width:8px;
  height:10px;
}
#u44_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-6px;
  width:14px;
  height:8px;
}
#u44_seg3 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-12px;
  width:21px;
  height:20px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:487px;
  width:0px;
  height:0px;
}
#u45_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u45_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-4px;
  width:8px;
  height:61px;
}
#u45_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:49px;
  width:14px;
  height:8px;
}
#u45_seg3 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:43px;
  width:21px;
  height:20px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:487px;
  width:0px;
  height:0px;
}
#u46_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u46_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-4px;
  width:8px;
  height:116px;
}
#u46_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:104px;
  width:14px;
  height:8px;
}
#u46_seg3 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:98px;
  width:21px;
  height:20px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:725px;
  width:0px;
  height:0px;
}
#u47_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u47_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-28px;
  width:8px;
  height:32px;
}
#u47_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-28px;
  width:14px;
  height:8px;
}
#u47_seg3 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-34px;
  width:21px;
  height:20px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:725px;
  width:0px;
  height:0px;
}
#u48_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u48_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-4px;
  width:8px;
  height:60px;
}
#u48_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:48px;
  width:14px;
  height:8px;
}
#u48_seg3 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:42px;
  width:21px;
  height:20px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
